@import "reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    box-sizing: inherit;
    background-color: #F2F1EF;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
}
.container {
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    padding-top: 27px;
    margin-bottom: 40px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-nav__menu {
        display: flex;
    }
    &-nav__menu-link {
        font-size: 16px;
        line-height: 24px;
        color: #161513;
        text-decoration: none;
        border-bottom: 1px solid #131416;
    }
    &-nav__menu-item + &-nav__menu-item {
        margin-left: 32px;
    }
    &__button {
        font-size: 16px;
        line-height: 24px;
        color: #161513;
        text-decoration: none;
        padding: 9px 26px;
        border: 1px solid #161513;
    }
}
.intro {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 48px;
    }
    &__inform {
        max-width: 670px;
        &-title {
            font-size: 56px;
            line-height: 64px;
            letter-spacing: 0.56px;
            color: #161513;
            margin-bottom: 35px;
        }
        &-subtitle {
            font-size: 23px;
            line-height: 32px;
            letter-spacing: 0.48px;
            color: #161513;
            margin-bottom: 40px;
        }
        &-button {
            font-size: 16px;
            line-height: 24px;
            margin: 0;
            &_black {
                padding: 13px 32px;
                background: #161513;
                border: 1px solid #161513;
                color: #fff;
                text-decoration: none;
            }
            &_white {
                padding: 13px 33px;
                border: 1px solid #161513;
                text-decoration: none;
                color: #161513;
            }
        }
    }
    &__banner {
        margin-bottom: 120px;
        overflow:hidden;
        transform: rotate(-4.93deg);
        background: #161513;
        padding: 10px 0 15px 20px;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        & img {
            margin-right: 67px;
        }
        span {
            margin-right: 5px;
        }
    }
}
.about {
    margin-bottom: 120px;
    .container {
        padding: 0 110px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 120px;
    }
    &__left {
        max-width: 355px;
        margin-right: 97px;
        &-suptitle {
            font-size: 23px;
            line-height: 32px;
            letter-spacing: 0.48px;
            color: #161513;
            width: 255px;
            margin-bottom: 21px;
        }
        &-title {
            font-size: 56px;
            line-height: 64px;
            letter-spacing: 0.56px;
            color: #161513;
        }
    }
    &__right {
        &-suptitle {
            font-size: 31px;
            line-height: 40px;
            letter-spacing: 0.64px;
            color: #161513;
            margin-bottom: 36px;
        }
        &-text {
            font-size: 18px;
            line-height: 32px;
            color: #161513;
            margin-bottom: 27px;
        }
        &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-title {
            font-size: 12px;
            line-height: 16px;
            color: #E94D35;
            margin-bottom: 9px;
        }
        &-text {
            font-size: 23px;
            line-height: 32px;
            letter-spacing: 0.48px;
            color: #161513;
        }
    }
    &__items {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item {
        padding: 23px 72px;
        border: 2px solid #332F29;
        text-align: center;
        &-title {
            font-size: 56px;
            line-height: 64px;
            color: #161513;
            margin-bottom: 11px;
        }
        &-subtitle {
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 1.28px;
            text-transform: uppercase;
            color: #161513;
        }
    }
    &__item_black {
        background: #161513;
        & .about__item-title {
            color: #FFFFFF;
        }
        & .about__item-subtitle {
            color: #FFFFFF;
        }
    }
}
.awards {
    margin-bottom: 120px;
    .container {
        padding: 0 110px;
    }
    &__img {
        text-align: center;
        margin-bottom: 22px;
    }
    &__title {
        font-size: 45px;
        line-height: 56px;
        text-align: center;
        letter-spacing: 1.44px;
        color: #161513;       
        margin-bottom: 9px; 
    }
    &__subtitle {
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 1.44px;
        text-transform: uppercase;
        color: #161513;
        margin-bottom: 60px;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
    &__item {
        padding: 37px 34px;
        border: 2px solid #161513;
        margin-bottom: 24px;
        &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-left {
            display: flex;
        }
    }
    &-left {
        &__num {
            margin-right: 24px;
            padding: 8px 20px;
            font-size: 18px;
            line-height: 32px;
            color: #FFFFFF;
            background: #E94D35;
        }
        &__inform-title {
            font-size: 23px;
            line-height: 32px;
            letter-spacing: 0.48px;
            color: #161513;
        }
        &__infrom-subtitle {
            font-size: 18px;
            line-height: 32px;
            color: #161513;
        }
    }
    &-right {
        display: flex;
        &__text {
            font-size: 16px;
            line-height: 32px;
            color: #161513;
            & + & {
                margin-left: 16px;
            }
        }
    }
}
.portfolio {
    margin-bottom: 120px;
    .container {
        padding: 0 110px;
    }
    &__img {
        margin-bottom: 22px;
        text-align: center;
    }
    &__title {
        font-size: 45px;
        line-height: 56px;
        text-align: center;
        letter-spacing: 1.44px;
        color: #161513;
        margin-bottom: 17px;
    }
    &__subtitle {
        margin-bottom: 60px;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 1.44px;
        text-transform: uppercase;
        color: #161513;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
    &__item + &__item {
        margin-top: 95px;
    }
    &__item-wrapper {
        display: flex;
    }
    &__item-img {
        margin-right: 44px;
    }
    &-inform {
        padding: 21px 0;
        &__status {
            padding: 4px 12px;
            font-size: 18px;
            line-height: 32px;
            letter-spacing: 1.44px;
            text-transform: uppercase;
            color: #FFFFFF;
            background: #E94D35;
            margin-bottom: 30px;
            display: inline-block;
        }
        &__title {
            font-size: 45px;
            line-height: 56px;
            letter-spacing: 1.44px;
            color: #161513;
            margin-bottom: 50px;
        }
        &__link {
            font-size: 20px;
            line-height: 32px;
            color: #161513;
            text-decoration: none;
        }
    }
}
.subscribe {
    padding: 60px 0;
    background: #E6E3DE;
    .container {
        padding: 0 110px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left-title {
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.48px;
        color: #161513;
    }
    &__right-input {
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.48px;
        color: #161513;
        padding: 12px 22px;
        border: 2px solid #161513;
        background-color: transparent;
        margin-right: 24px;
        ::placeholder {
            font-size: 23px;
            line-height: 32px;
            letter-spacing: 0.48px;
            color: #161513;
        }
    }
    &__right-button {
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.48px;
        color: #FFFFFF;
        padding: 12px 15px;
        background: #131416;
        border: none;
    }
}